<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
</head>
<body>
    <div class="container">
        <header>
        <h1>Trabalho - PTAS3</h1>
        <div class="itens">
            <a href="./inscrever">Cadastrar Produtos</a>
            <a href="./produtos">Listar Produtos</a>
        </div>
       </header>
       <main>
       <div class='card'>
       <h1>Pagina Inicial</h1>
       <p style="text-align: justify; padding:10px">Bem vindo ao nosso site, depois de logado, você pode realizar o cadastro de produtos e lista-los</p>
       </div>
    
       </main>
    
       <footer>
        Guilherme Ferreira Tombini e Rafael de Andrade Albuquerque dos Santos - INFO 6
       </footer>
    </div>

   
</body>
</html>